.container {
    background-repeat: no-repeat;
    background-color: rgb(221, 247, 255);
    background-size: cover;
    background-position: center;
    /* background-image: url("../../img/houseBackground.jpg"); */

}