.App{
    background-color: rgb(204, 227, 235);
}
body{
    margin : 0px !important;
 }
   
  /* @media only screen and (max-width : 768px) {
    #index-banner .section {
      top: 0;
    }
    .collegeo {
     font-size: 48px;
   }
  } */