.bigPic {
    background-repeat: no-repeat;
    background-color: lightblue;
    background-size: cover;
    background-position: center;
    background-image: url("../../img/happy-cute-little-kid-boy.jpg");

}